 <h2><p>{{title1}}</p></h2>
 <p> Concerts Available: {{total_rows}}</p>
<div *ngIf="selectConcert">
  <h3>Active Concert</h3>
   <div>
    <span>{{selectConcert.Concert.Date.substring(0,4)+"-"+selectConcert.Concert.Date.substring(4,6)+"-"+selectConcert.Concert.Date.substring(6,8)}} At {{selectConcert.Concert.Venue}} [ {{selectConcert.Songs.length}} Tracks ] </span>
  <p>--------------------------------</p>
  <div *ngIf="song" class="AudioButtonsDiv">
    <span>Acitve Song: {{song.name}} Time: {{song.length}}  ( Seconds: {{song.seconds}} )</span>
    <p>
   <button id="play" (click)=onPlay() >Play</button> 
   <button id="stop" (click)=onStop() >Stop</button>
   <button id="toggle" (click)=onToggle() >Toggle</button>
   <button id="showTrack" (click)=onShow() >Info</button>
   <button id="Next" (click)=onNextTrack() >Next</button>
   </p>
  </div>
<p>--------------------------------</p>
<table class="SongListTable">
    <tr>
        <th>Track</th>
        <th>Length</th>
        <th>Title</th>
    </tr>
    <tr  *ngFor="let track of selectTrackArray    " (click)=onSelectTrack(track) >
            <th>{{track.track}}</th>
            <th>{{track.length}}</th>
            <th>{{track.name}}</th>
   </tr>
</table>
  </div>
</div>
<p>--------------------------------</p>
<input class="FilterInputInputText" type="text" placeHolder="filter Year" [(ngModel)]= "filterText">
 <p>--------------------------------</p>
 <table class="ConcertListTable">
                    <tr>
                        <th>Seq</th>
                        <th>Date</th>
                        <th>Venue</th> 
                        <th>Tracks</th>
                    </tr>
                    <tr *ngFor="let x of this.Concerts |  async |  byYearFilter:filterText | paginate: {itemsPerPage: 15, currentPage:page, id: '1'}; let i = index"    (click)="onSelect(x.key)">
                        <td>{{i + 1}}</td>
                        <td>{{x.key.Concert.Date.substring(0,4)+"-"+x.key.Concert.Date.substring(4,6)+"-"+x.key.Concert.Date.substring(6,8)}}</td>
                        <td>{{x.key.Concert.Venue}}</td>
                        <td>{{x.key.Songs.length}}</td>
                    </tr>
                </table>
                <pagination-controls (pageChange)="page = $event" id="1"
                      maxSize="5"
                      directionLinks="true"
                      autoHide="true">
                </pagination-controls>


