 <h2><p>{{title1}}</p></h2>
 <p> Concerts Available: {{total_rows}}</p>

<table>
    <tr>
         <td>
            <input class="FilterInputInputText" type="text" placeHolder="Year" [(ngModel)]= "yearText">
            <input class="FilterInputInputText" type="text" placeHolder="MMDD" [(ngModel)]= "mmddText">
            <p>--------------------------------</p>
            <table class="ConcertListTable">
                <tr>
                        <th>Seq</th>
                        <th>Date</th>
                        <th>Venue</th> 
                        <th>Tracks</th>
                </tr>
                <tr *ngFor="let x of this.Concerts |  async |  couchdbSuperFilter:yearText:mmddText | paginate: {itemsPerPage: 25, currentPage:page, id: '1'}; let i = index"    (click)="onSelect(x.key)">
                        <td>{{i + 1}}
                        </td>
                        <td>{{x.key.Concert.Date.substring(0,4)+"-"+x.key.Concert.Date.substring(4,6)+"-"+x.key.Concert.Date.substring(6,8)}}</td>
                        <td>{{x.key.Concert.Venue}}</td>
                        <td>{{x.key.Songs.length}}</td>
                </tr>
                </table>
                <pagination-controls (pageChange)="page = $event" id="1"
                      maxSize="5"
                      directionLinks="true"
                      autoHide="true">
                </pagination-controls>
        </td> 
         <td>
            <div *ngIf="selectConcert">
                <concert-Select [selectConcert]="selectConcert" [selectTrackArray]="selectTrackArray"    [trackName]="trackName" [song]="song"  ></concert-Select>
            </div>
        </td>              
    </tr>
</table>


